Body {  
font-family: Calibri, Helvetica, sans-serif;  
background-color: white;  
}  
button {   
background-color: #4CAF50;   
width: 100%;  
color: black;   
padding: 15px;   
margin: 10px 0px;   
border: none;   
cursor: pointer;   
}   
form {   
    border: 3px solid #f1f1f1;   
}   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}   
    

.container {   
    padding: 25px;   
    background-color: ;  
}   

.header{
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 999;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3re 9%;
}
.header .logo{
    background: lightblue;
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
.header .logo span{
    color: yellow;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 16px;
    color: black;
}

.header .navbar a:hover{
    color: yellow;
}

.header .btn{
    margin-top: 0;
}
.header #login-btn i{
    font-size: 1.8rem;
    color: lightslategray;
    cursor: pointer;
    display: none;
   
}
.header #login-btn .btn{
    display: none;
}
.header .navbar{
    position: absolute;
    top: 99%; left: 0;right: 0;
    background: white;
    border-top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
}
