@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100;1,500&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    padding: 0; margin: 0; outline: none;
    box-sizing: border-box;
    text-decoration: none; text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 7px;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 999;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 9%;
}