@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100;1,500&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    padding: 0; margin: 0; outline: none;
    box-sizing: border-box;
    text-decoration: none; text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-image: url("/images/b1.jpg");
    image-resolution: 40%;
}
html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 7px;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin: 1rem;
    border-radius: 1rem;
    background: lightblue;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;

}
.btn:hover{
    color: yellow;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 999;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}
.header .logo{
    background: lightblue;
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
.header .logo span{
    color: yellow;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
}

.header .navbar a:hover{
    color: yellow;
}

.header .btn{
    margin-top: 0;
}
.header #login-btn i{
    font-size: 1.8rem;
    color: lightslategray;
    cursor: pointer;
   
}
.header #login-btn .btn{
    display: none;
}
.header .navbar{
    position: absolute;
    top: 99%; left: 0;right: 0;
    background: white;
    border-top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
}

#menu-btn{
    color: lightslategray;
    cursor: pointer;
    font-size: 2.5rem;
    display: block;
}
#menu-btn.fa-times{
    transform: rotate(180deg);
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
}























/* media queries */
@media(max-width:991){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}