
body{
    font-weight: normal;
}
header{
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    position: relative;
    background-color:rgb(15, 61, 141);
    
}
#h2{
    color: white;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;

}
nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    
}
.header a{
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
}
.header a:hover{
    background-color: white;
    color: black;
}
.header a:active{
    color: red;
}
.weblink{
        color: violet;
    }
a {
    color: #fff;
}
.container{
    padding: 20px;
    
}
.form {
    padding-left: 20px;
    padding-right: 20px;
}
#h22{
    color: black;
    
}

