.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem;
  background-color: #81eaf1;
  box-shadow: 0 2px 5px rgba(48, 10, 109, 0.1);
  height: 100px;
}

.header-nav {
  float: right;
}

.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-nav li {
  margin-left: 1rem;
}

.header-nav li:first-child {
  margin-left: 0;
}

.header-nav a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}

.header-title {
  float: left;
  color: blue;
  padding: 20px;
}